body{ 
      background-image: url("../images/shapeBG.gif");
      background-repeat: repeat;
	  font: 18px Helvetica, "華康圓體 Std", Sans-Serif;
	  overflow: auto;
	  line-height: 28px;
	  letter-spacing: 0.5px;
      height: auto;
      }
*{  
    box-sizing: border-box;
    overflow: auto;
}
.container{
      padding: 10px;
      max-width: 650px;
      margin:0 auto;
      background-color: rgba(255,255,255,0.98);
      }
.header{
      display: block;
      max-width: 650px;
      margin:0 auto; 
}
.logo{
      display: block;
      margin:0 auto;
      padding-top: 20px;
}
article{
      display: block;
      margin:0 auto; 
}
.clearfix{
      content: "";
      clear: both;
      display: block;
}
.btnA{
     display: inline;
     float: right;
     }
    .btnA:link {color: blue; text-decoration:underline;}
    .btnA:visited {color: blue; text-decoration:none;}
    .btnA:hover {color: red; text-decoration:underline;}
    .btnA:active {color: blue; text-decoration:underline;}
   
.btnB{
     display: inline;
     }
    .btnB:link {color: blue; text-decoration:underline;}
    .btnB:visited {color: blue; text-decoration:none;}
    .btnB:hover {color: red; text-decoration:underline;}
    .btnB:active {color: blue; text-decoration:underline;}

.highlight {
    display: inline;
    font: bold ,Sans-Serif;
    color: black;
} 
.worktitle{
     font: bold 18px Helvetica, "華康圓體 Std", Sans-Serif;
     color: darkslateblue;
    }
.section1{
     text-align: left;
     font: 18px Helvetica, "華康圓體 Std", Sans-Serif;
     line-height: 24px;
     color: darkslateblue;
     overflow-x: hidden;
     }
.section2{
     text-align: left;
     font: 18px Helvetica, "華康圓體 Std", sans-serif;
     line-height: 24px;
     color: darkslateblue;
     overflow-x: hidden;
     }
.section3{
     text-align: left;
     font: 18px Helvetica, "華康圓體 Std", sans-serif;
     line-height: 24px;
     color: darkslateblue;
     }
.section4{
     text-align: left;
     font: 18px Helvetica, "華康圓體 Std", Sans-Serif;
     line-height: 24px;
     color: darkslateblue;
     }
.section5{
     text-align: left;
     font: 18px Helvetica, "華康圓體 Std", Sans-Serif;
     line-height: 24px;
     color: darkslateblue;
     
     }
.title{
      color: white;
      background-color:#05A2B1;
      height:40px;
	  text-align:left; 
	  font-family: "華康圓體 Std";
	  font-size:22px;
      margin: 2px;
      padding: 8px;
      
    }
.title:hover{
      color: white;
      background-color:red;
      height:40px;
	  text-align:left; 
	  font-family: "華康圓體 Std";
	  font-size:22px;
      margin: 2px;
      padding: 8px;
    }
.btn{
    text-decoration: none;
    border: none;
}
.s3{
    opacity: 1;
}
.btn:click{
    text-decoration: none;
    border: none;
}
.row{
     max-width: 600px;
     margin: 0 auto;
     display: block;
    }
.row:after {
    content: "";
    clear: both;
    display: block;
    }
h2{
    margin: 0;
    color: #05A2B1;
    }
.content h3{
	  margin: 0;
	  color: black;
      padding-top: 10px;
      display: inline;
      float: left;
      }
.content h4{
	  margin: 0;
	  color: gray;
      padding-top: 10px;
      padding-left: 5px;
      display: inline;
      float: left;
      }    
.content{
     display: block;
     float: left;
     max-width: 650px;
     height: auto;
     margin: 0 auto;
     padding: 20px;
     padding-top: 5px;
     line-height: 24px; 
}

.list_L {
      float: left;
      display: block;
	  color: #686863;
      width: 14%;
      padding-right: 2px;
      padding-top: 5px;
      }
.list_R {
      float: left;
      display: block;
	  color: #686863;
      width: 85%;
      padding-top: 5px;
      }
.skills{
        float:left;
        max-width: 100%;
        height: auto;
        } 
@media screen and (min-width:768px)and(max-width:1200px){
    .container{
        width: 100%;
        margin:0 auto;
        }
    .header {
        width:100%; 
        margin:0 auto;
        }
    article {
        width:100%;
        margin:0 auto;
        }
    .skills{
        width:100%;
        margin:0 auto;
        }
    .list_L {
        width:100%;
        margin:0 auto;
    }
    .list_R {
        width:100%;
        margin:0 auto;
    }
}
@media screen and (max-width:768px){
    .container{
        width:100%;
        margin:0 auto;
        }
    .header {
        width:100%;
        margin:0 auto;
        }
    article {
        width:100%;    
        }
    .skills{
        width:100%;
        margin:0 auto;
        }
    .list_L {
        width:100%;
    }
    .list_R {
        width:100%;
    }
     h3{
      width:100%;
	  margin: 0;
	  color: black;
      padding-top: 10px;
      display: block;
      }
    h4{
      width:100%;
	  margin: 0;
	  color: gray;
      padding-top: 2px;
      display: block;
      }
}