.header{
        margin: 0 auto;
        background: #F2F2F2;
}
.tagline{
          font: 25pt Century Gothic, "華康圓體 Std", Sans-Seri;
          height: 200px;
          display:flex;
          align-items:center;
          justify-content:center;
          text-align: center;
       }
.outer{
         
        margin: 0 auto;
        }
.inner{
        width:80vw;  
        margin: 0 auto;
        }
.breadcrumb{
        margin: 0 auto;
        background-color: white;
}  
.topbtn{
        position: fixed;
        right: 20px;
        bottom: 20px;
        }
body{   
        font: 10pt Helvetica, "華康圓體 Std", Sans-Seri;
        background-color: white;
        max-width: 100vw;
        overflow: auto;
	    margin:  auto;    
      }

       .img_L{
            display: flex;
            align-items:center;
            justify-content:center;
            width: 100%;
            height: auto;  
        }
      .work_L{
            display: block;
            position:relative;
            float: left;
            width: 100%;
            height: auto;
            margin: 2px;   
        }
      .BTinfo{
            position:absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255,0,0,0.9);
            color: white;
            display:flex;
            align-items:center;
            justify-content:center;
            box-sizing: border-box;
            opacity: 0;
            transition: 2s;
            font: 18pt Century Gothic, "華康圓體 Std", Sans-Seri;
            text-align: center;
        }
      .BTinfo:hover{
            opacity: 1;
            transition: 2s;
        }
      .BT2info{
            position:absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(5,162,177,0.9);
            color: white;
            display:flex;
            align-items:center;
            justify-content:center;
            box-sizing: border-box;
            opacity: 0;
            transition: 2s;
            font: 18pt Century Gothic, "華康圓體 Std", Sans-Seri;
            text-align: center;
        }
      .BT2info:hover{
            opacity: 1;
            transition: 2s;
        }
.Mt{ 
          display:flex;
          align-items:center;
          justify-content:center;
          max-width: 100%;
          height: 300px;
          border: 5px solid red;
          background-color: white;
          font-family: Century Gothic;
          color: red;
          font-size: 30px;
          text-align: center;
          margin: 5px;   
      }

      .M1{
          max-width: 100%;
          height: 300px;
          overflow: hidden;
          margin: 5px;
      }
      .M2{
          height: 300px;
          overflow: hidden;
          margin: 5px;
      }
      .M3{
          height: 300px;
          overflow: hidden;
          margin: 5px;
      }
      .M4{
          height: 300px;
          overflow: hidden;
          margin: 5px;
      }
     .M5{
          height: 300px;
          overflow: hidden;
          margin: 5px;
      }
     .M6{
          height: 300px;
          overflow: hidden;
          margin: 5px;
      }
     .M7{
          height: 300px;
          overflow: hidden;
          margin: 5px;
      }
      .Gt{
          display:flex;
          align-items:center;
          justify-content:center;
          max-width: 100%;
          height: 300px;
          border: 5px solid red;
          background-color: white;
          font-family: Century Gothic;
          color: red;
          font-size: 30px;
          text-align: center;
          margin: 5px;    
      }

      .G1{
          height: 300px;
          overflow: hidden;
          margin: 5px;
      }
      .G2{
          height: 300px;
          overflow: hidden;
          margin: 5px;
      }
      .G3{
          height: 300px;
          overflow: hidden;
          margin: 5px;
      }
      .Pt{
          display:flex;
          align-items:center;
          justify-content:center;
          width: 100rw;
          height: 300px;
          border: 5px solid #05A2B1;
          background-color: white;
          font-family: Century Gothic;
          color: #05A2B1;
          font-size: 30px;
          text-align: center;
          margin: 5px;    
      }
      .P1{
          height: 300px;
          overflow: hidden;
          margin: 5px;
      }
      .P2{
          height: 300px;
          overflow: hidden;
          margin: 5px;
      }
      .P3{
          height: 300px;
          overflow: hidden;
          margin: 5px;
      }
      .Vt{
          display:flex;
          align-items:center;
          justify-content:center;
          width: 100rw;
          height: 300px;
          border: 5px solid #05A2B1;
          background-color: white;
          font-family: Century Gothic;
          color: #05A2B1;
          font-size: 30px;
          text-align: center;
          margin: 5px;   
          }
      .V1{ 
          height: 300px;
          overflow: hidden;
          margin: 5px;
          }
      .V2{
          height: 300px;
          overflow: hidden;
          margin: 5px;
          }
      .V3{
          height: 300px;
          overflow: hidden;
          margin: 5px;
          }
      .text{
        color: dimgrey;
        font: 13pt Helvetica, "華康圓體 Std", Sans-Seri;
        letter-spacing: 1px;
        line-height: 26px;
        padding: 20px;
        }
       .text_red{
        color: crimson;
        font: 12pt Helvetica, "華康圓體 Std", Sans-Seri;
        letter-spacing: 1px;
        line-height: 22px;
        }
     li{
        list-style:disc;
        }
